<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="loggedInHeader">
    <a href="/" class="logoTopLeft"> PupFetchr </a>


  </header>
  <nav class="search">
      <input type="text" id="location" class="navItem" name="location" placeholder="Zip Code (required)" required="required" title="Location is required.">

      <!-- <select name="select" class="navItem">
        <option value="none" selected>Age</option>
        <option value="age1">Baby</option>
        <option value="age2">Young</option>
        <option value="age3">Adult</option>
        <option value="age4">Senior</option>
      </select>

      <select name="select" class="navItem">
        <option value="none" selected>Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>

      <input type="text" name="breed" class ="navItem" value="" placeholder="Breed"> -->
      <button class="navItem button" type="button" onclick="location.href='/search/'+ $('#location').val()">Search</button>
  </nav>
  <h1 class="mainH1">Cart</h1>
  <footer>
    Created by The Slacker Stackers.  All rights reserved &#169; 2017
  </footer>

  <script type="text/javascript" src="./js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>
