<!DOCTYPE html>
<html>
<head>
  <title>PupFetchr</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="loggedInHeader">
    <a href="/" class="logoTopLeft"> PupFetchr </a>


  </header><!-- /header -->

  <nav class="search">
      <input type="text" id="location" class="navItem" name="location" placeholder="Zip Code (required)" required="required" title="Location is required.">

      <!-- <select name="select" class="navItem">
        <option value="none" selected>Age</option>
        <option value="age1">Baby</option>
        <option value="age2">Young</option>
        <option value="age3">Adult</option>
        <option value="age4">Senior</option>
      </select>

      <select name="select" class="navItem">
        <option value="none" selected>Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>

      <input type="text" name="breed" class ="navItem" value="" placeholder="Breed"> -->
      <button class="navItem button searchButton" type="button" onclick="location.href='/search/'+ $('#location').val()">Search</button>
  </nav>
  <h1 class="createAccountH1">Create Account</h1>
  <div class="signUpDiv">
    <form action="/signup" method="post" accept-charset="utf-8" class= "signUpForm">


        <!-- <label for="firstName">First Name</label> -->
        <!-- <input type="text" id="firstName" name="firstName" placeholder="First Name" class= "formInput"> -->


        <!-- <label for="lastName">Last Name</label> -->
        <!-- <input type="text" id="lastName" name="lastName" placeholder="Last Name" class= "formInput"> -->


        <!-- <label for="email">Email</label> -->
        <input type="email" name="email" placeholder="Email" class= "formInput">


        <!-- <label for="password">Password</label>
           <input type="password" id="password1" placeholder="Password" class= "formInput">


        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm Password" class= "formInput"> -->

        <button class="button formInput">Sign up!</button>
    </form>
  </div>
  <footer>
    Created by The Slacker Stackers.  All rights reserved &#169; 2017
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
