@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Freckle+Face|Reenie+Beanie');

/*
B4E33D green
F27A4B orange
E4E6C3 tan
000000 black
1BE7FF  blue
475356 grey
*/
/*html{
  height: 100%;
}*/
body {
  cursor: url(dogcursor.cur), default;
  background: linear-gradient(to bottom, #475356, #E4E6C3, transparent), url(puppyh1.png) no-repeat bottom right;
  background-attachment: fixed;
}

.loginHeader {
  display: flex;
  justify-content: flex-end;
}

.login {
  font-family: 'Reenie Beanie', cursive;
  font-size: 20px;
  margin-left: 10px;
  border: 2px solid gray;
  border-radius: 10px;
}

.button, a {
  cursor: pointer;
}

.mainH1 {

  text-align: center;
  font-family: 'Freckle Face', cursive;
  font-size: 100px;
  color: #475356;
  text-shadow:    -1px -1px 0 #1BE7FF , 1px -1px 0 #1BE7FF , -1px 1px 0 #1BE7FF , 1px 1px 0 #1BE7FF ;


}

.mainH1, a {
    text-decoration: none;

}

.createAccountH1 {
  text-align: center;
  font-family: 'Freckle Face', cursive;
  font-size: 100px;
  color: #475356;
  text-shadow:    -1px -1px 0 #1BE7FF , 1px -1px 0 #1BE7FF , -1px 1px 0 #1BE7FF , 1px 1px 0 #1BE7FF ;

}

.logoTopLeft {
  text-align: left;
  font-family: 'Freckle Face', cursive;
  font-size: 30px;
  color: #475356;
  text-shadow:    -1px -1px 0 #1BE7FF , 1px -1px 0 #1BE7FF , -1px 1px 0 #1BE7FF , 1px 1px 0 #1BE7FF ;
  text-decoration: none;
/*  color: inherit;*/
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  float: left;
  overflow: auto;
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

.navItem {
  font-family: 'Reenie Beanie', cursive;
  margin-left: 20px;
  width: auto;
  font-size: 24px;
  border-radius: 10px;

}

/*li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;

}
*/
p {
  font-family: 'Coming Soon', cursive;
  padding: 30px 75px;
  text-align: justify;
  background-color: rgba(242, 122, 75, 0.5);
  /*opacity: .5;*/
  border-radius: 20px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 2rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.signUpInfo {
  display: flex;
  justify-content: center;
  padding: 10px;
}



.signUpDiv {
  background-color: rgba(242, 122, 75, 0.5);
  border-radius: 20px;
}

.formInput {
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  color: #475356;
  border-radius: 10px;
}

/*additional classes home page and signup page*/

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background-color: rgba(242, 122, 75, 0.5);
  color: #475356;
}
.photos {
  width: 100px;
  height: 88px;
}

.appendDiv {
  max-width: 60%;
  text-align: center;
  /*display: flex;
  flex-direction: column;
  align-content: flex-start;*/
  margin: auto;
}

.detail {
  display: inline-block;
}

.photo {
  float: left;
}

.detailcontainer {
  background-color: rgba(242, 122, 75, 0.5);
  border-radius: 10px;
}

h3 {
  font-size: 30px;
  font-family: 'Coming Soon', cursive;
  font-weight: bold;
}

h5 {
  font-size: 20px;
  font-family: 'Coming Soon', cursive;
}
/*start of search and cart pages*/
